{% extends 'base.html.twig' %}

{% block title %}Hacktime {% if user is defined %} - {{ user }} {% endif %}{% endblock %}

{% block body %}
    <h1>Current Level {{ level|default(0) }}</h1>
    <form action="{{ path('checkLevel', {'user': user}) }}" method="post">
        <button type="submit">Check Level</button>
    </form>

    <form action="{{ path('resetInstance', {'user': user}) }}" method="post">
        <label>
            Password:
            <input name="password" type="password">
        </label>
        <button type="submit">Reset Instance!</button>
    </form>

    <form action="{{ path('resetLevel', {'user': user}) }}" method="post">
        <button type="submit">Reset Level!</button>
    </form>

    {% include 'level/level' ~ level|default(0) ~ '.html.twig' ignore missing %}
{% endblock %}