{% extends 'base.html.twig' %}

{% block title %}Hacktime {% if user is defined %} - {{ user }} {% endif %}{% endblock %}

{% block heading %}
    <h1>Current Level {{ level|default(0) }}</h1>
    <form action="{{ path('checkLevel', {'user': user}) }}" method="post">
        <button class="button" type="submit">Check Level</button>
    </form>
{% endblock %}

{% block content %}
    {% if levelData is defined and levelData is not null and (levelData|length) > 0 %}
        {% set temp = levelData|first %}
        <h3>Example Rows of the new View</h3>
        <div class="example-content">
            <table class="example-data">
                <tr>
                    {% for property_title in temp|keys %}
                        <th>{{ property_title }}</th>
                    {% endfor %}
                </tr>
                {% for item in levelData %}
                    <tr>
                        {% for field in temp|keys %}
                            <td>{{ attribute(item, field) }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}

    {% include 'level/level' ~ level|default(0) ~ '.html.twig' ignore missing %}
{% endblock %}

{% block sidebar %}
    {{ parent() }}

    <div class="reset-wrapper">
        <fieldset class="reset-level">
            <legend>Reset Level</legend>
            <form action="{{ path('resetLevel', {'user': user}) }}" method="post">
                <button class="button button-warn" type="submit">Reset Level!</button>
            </form>
        </fieldset>

        <fieldset class="reset-instance">
            <legend>Reset Instance</legend>
            <form action="{{ path('resetInstance', {'user': user}) }}" method="post">
                <label>
                    Password:
                    <input class="text-input" name="password" type="password">
                </label>
                <button class="button button-danger" type="submit">Reset Instance!</button>
            </form>
        </fieldset>
    </div>
{% endblock %}